<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.awesome.javademo">

    <application
        android:name=".activitys.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AwesomeDemos"
        tools:replace="android:name">
<!--        <activity android:name=".activitys.ThreadActivity"></activity>-->
        <!-- <activity android:name=".activitys.AlgorithmSortActivity"></activity> -->
        <!-- <activity android:name=".activitys.CollectionActivity"></activity> -->
        <!-- <activity android:name=".activitys.IOActivity"></activity> -->
        <!-- <activity android:name=".activitys.AlgorithmActivity" /> -->
        <!-- <activity android:name=".activitys.MainActivity" /> -->
        <activity android:name=".activitys.ThreadActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>